node_modules/
dist/
coverage/
.vscode/
.eslintcache
.stylelintcache
.parcel-cache
.npm
.debug
.DS_Store
src/api/types/api.ts
tsconfig.json

# Terraform
*.tfstate
*.tfstate.*
.terraform
terraform.tfvars
