@import 'tailwindcss';

:root {
  --brand-brown: #7b4720;
  --brand-black: #363943;
  --brand-background: #fffbf3;
  --brand-coffee: #e6caaf;
  --brand-yellow: #ffe279;
  --brand-blue: #bcd1f7;
  --gray-60: #d8d8d8;
  --gray-80: #7e7e7e;
}

@layer base {
  @font-face {
    font-family: 'Very Vogue Text';
    src: url('/fonts/VeryVogue-Display.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Very Vogue Text';
    src: url('/fonts/VeryVogue-Display-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Very Vogue Text';
    src: url('/fonts/VeryVogue-Text.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Very Vogue Text';
    src: url('/fonts/VeryVogue-Text-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Variable.woff2') format('woff2');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Variable-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    color: var(--brand-black);
    background-color: var(--brand-background);
    background-image: url('/src/assets/images/grainy-background.svg');
    background-position: center;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .grainy-background {
    background-color: var(--brand-background);
    background-image: url('/src/assets/images/grainy-background.svg');
    background-position: center;
  }
}

@utility very-vogue-text {
  @apply font-['Very_Vogue_Text'];
}
